Create a Spark Interactive Session
Let's begin! In this demo you'll be using Livy to create and manage an interactive Spark session. Livy is an open-source REST service that enables remote and interactive analytics on Apache Spark clusters. It provides a way to interact with Spark clusters programmatically using a REST API, allowing you to submit Spark jobs, run interactive queries, and manage Spark sessions.

First you need to connect to the Livy endpoint and create a new Spark interactive session. This session will allow you to interact with Spark using your familiar notebook environment, and execute Spark code to perform data processing tasks in an interactive manner.

The Spark interactive session is particularly useful for exploratory data analysis, prototyping, and iterative development. It allows you to interactively work with large datasets, perform transformations, apply analytical operations, and build machine learning models using Spark's distributed computing capabilities. This is exactly what you'll do in this Notebook!

To communicate with Livy and manage your sessions you'll be using sparkmagic, an open-source tool that provides a Jupyter kernel extension. Sparkmagic integrates with Livy, to provide the underlying communication layer between the Jupyter kernel and the Spark cluster.

Execute the cell below and:
1 Select Add Endpoint
2 Select Single Sign-On
3 Select Create Session
4 Add relevant properties
5 Provide a name select python and click Create Session

When your session is ready the Manage Sessions pane will become active, providing you the session ID. The session state will become idle which means that you are good to go!

To configure Sparkmagic, you can make use of a config.json file located at ~/.sparkmagic/config.json. If you're running this notebook in a server that was created using the jupyter-data-science image, the default settings should suffice, and no additional configuration is required.

In [2]:
%manage_spark

MagicsControllerWidget(children=(Tab(children=(ManageSessionWidget(children=(HTML(value='<br/>'), HBox(childre…

In [7]:
%%spark
from pyspark.sql import SparkSession
from pyspark.sql import *
import pyspark.sql.functions as F
from pyspark.sql.functions import *
from datetime import datetime

today = datetime.today().strftime('%Y-%m-%d')
spark = SparkSession.builder.master("local").appName("ETL").getOrCreate()

df1=spark.read.format('csv').option("header","true").option("inferSchema","true").load(f"file:///mounts/shared-volume/shared/exported_by_airflow/from_minio/bank{today}.csv")

df2=spark.read.format('csv').option("header","true").option("inferSchema","true").load(f"file:///mounts/shared-volume/shared/exported_by_airflow/from_mysql/`bank{today}`.csv")

df1.show()
df2.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+---+-------------+-------+---------+--------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
|age|          job|marital|education|default1|balance|housing|loan| contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+---+-------------+-------+---------+--------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
| 30|   unemployed|married|  primary|      no|   1787|     no|  no|cellular| 19|  oct|      79|       1|   -1|       0| unknown| no|
| 33|     services|married|secondary|      no|   4789|    yes| yes|cellular| 11|  may|     220|       1|  339|       4| failure| no|
| 35|   management| single| tertiary|      no|   1350|    yes|  no|cellular| 16|  apr|     185|       1|  330|       1| failure| no|
| 30|   management|married| tertiary|      no|   1476|    yes| yes| unknown|  3|  jun|     199|       4|   -1|       0| unknown| no|
| 59|  blue-collar|married|secondary|      no|      0|    yes|  no| unknown|  5|  may|     226|       1|   -1|       0| unknown| no|
| 35|   management| single| tertiary|      no|    747|     no|  no|cellular| 23|  feb|     141|       2|  176|       3| failure| no|
| 36|self-employed|married| tertiary|      no|    307|    yes|  no|cellular| 14|  may|     341|       1|  330|       2|   other| no|
| 39|   technician|married|secondary|      no|    147|    yes|  no|cellular|  6|  may|     151|       2|   -1|       0| unknown| no|
| 41| entrepreneur|married| tertiary|      no|    221|    yes|  no| unknown| 14|  may|      57|       2|   -1|       0| unknown| no|
| 43|     services|married|  primary|      no|    -88|    yes| yes|cellular| 17|  apr|     313|       1|  147|       2| failure| no|
| 39|     services|married|secondary|      no|   9374|    yes|  no| unknown| 20|  may|     273|       1|   -1|       0| unknown| no|
| 43|       admin.|married|secondary|      no|    264|    yes|  no|cellular| 17|  apr|     113|       2|   -1|       0| unknown| no|
| 36|   technician|married| tertiary|      no|   1109|     no|  no|cellular| 13|  aug|     328|       2|   -1|       0| unknown| no|
| 20|      student| single|secondary|      no|    502|     no|  no|cellular| 30|  apr|     261|       1|   -1|       0| unknown|yes|
| 31|  blue-collar|married|secondary|      no|    360|    yes| yes|cellular| 29|  jan|      89|       1|  241|       1| failure| no|
| 40|   management|married| tertiary|      no|    194|     no| yes|cellular| 29|  aug|     189|       2|   -1|       0| unknown| no|
| 56|   technician|married|secondary|      no|   4073|     no|  no|cellular| 27|  aug|     239|       5|   -1|       0| unknown| no|
| 37|       admin.| single| tertiary|      no|   2317|    yes|  no|cellular| 20|  apr|     114|       1|  152|       2| failure| no|
| 25|  blue-collar| single|  primary|      no|   -221|    yes|  no| unknown| 23|  may|     250|       1|   -1|       0| unknown| no|
| 31|     services|married|secondary|      no|    132|     no|  no|cellular|  7|  jul|     148|       1|  152|       1|   other| no|
+---+-------------+-------+---------+--------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
only showing top 20 rows

+---+------------+--------+---------+--------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+------+
|age|         job| marital|education|default1|balance|housing|loan|  contact|day|month|duration|campaign|pdays|previous|poutcome|target|
+---+------------+--------+---------+--------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+------+
| 34|   housemaid| married| tertiary|      no|  -4057|     no| yes| cellular| 31|  oct|    1068|      47|  358|      19| unknown|   yes|
| 51|  unemployed|divorced|secondary|      no|  42925|     no| yes|telephone| 30|  may|    4585|       9|  505|      11| unknown|   yes|
| 27|   housemaid| married|  primary|      no|  36947|     no| yes| cellular|  7|  jan|    4677|       5|   21|      20| unknown|   yes|
| 35|  unemployed|  single|  primary|      no|  13263|    yes| yes| cellular|  5|  sep|    1964|       2|   87|      19| failure|   yes|
| 44|   housemaid|  single|secondary|      no|  17029|    yes| yes| cellular| 11|  may|     793|      21|  551|      11| unknown|    no|
| 76|    services| married|  primary|     yes|  21546|    yes| yes|  unknown|  3|  feb|    3720|      33|  422|      15| failure|   yes|
| 64|    services| married| tertiary|     yes|  33373|     no|  no|  unknown|  4|  aug|    4898|      42|  816|       9| unknown|    no|
| 21|entrepreneur|  single|secondary|     yes|  11163|    yes|  no|  unknown| 31|  oct|    1339|      28|  211|      11| unknown|   yes|
| 80|  technician|  single|  primary|      no|  26321|    yes| yes|  unknown|  5|  mar|    4227|      19|  614|      20| success|   yes|
| 56|  unemployed|  single|secondary|      no|  13784|     no|  no| cellular|  5|  jun|    1532|      45|  618|      14| unknown|   yes|
| 70|       admin| married|secondary|      no|  12844|    yes|  no|  unknown| 15|  may|    4268|      38|  806|      16| failure|    no|
| 62|       admin|divorced|  primary|     yes|    165|     no|  no|  unknown| 20|  oct|    4300|      20|  428|      20| failure|   yes|
| 66|  unemployed| married|  primary|     yes|  31299|     no|  no|telephone| 16|  jul|    3007|       3|  861|      20| success|    no|
| 23|     retired|divorced|  primary|      no|  33255|     no| yes|telephone| 29|  nov|    1443|      21|  419|       1| unknown|   yes|
| 28|  management| married|secondary|      no|  14150|    yes| yes|telephone| 13|  feb|    3255|      23|  653|      16| success|   yes|
| 44|   housemaid|divorced|  primary|      no|   6713|    yes| yes| cellular|  1|  jun|    4049|      37|  397|      10| failure|    no|
| 59|   housemaid| married|secondary|      no|  -2269|     no|  no|telephone| 28|  feb|    4388|      30|   73|      18| unknown|    no|
| 78|     retired| married| tertiary|      no|  31467|    yes| yes|telephone| 26|  mar|    1343|      41|  104|      20| unknown|   yes|
| 38|  unemployed|divorced|secondary|      no|  29175|    yes|  no|telephone|  9|  oct|    4308|      25|  726|       8| unknown|   yes|
| 62|    services|divorced|secondary|      no|  33888|    yes|  no|  unknown|  5|  dec|    3543|      45|  833|      14| failure|   yes|
+---+------------+--------+---------+--------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+------+
only showing top 20 rows

In [8]:
%%spark
# Schema of Dataframe 1

df1.printSchema()

#schema of Dataframe 2

df2.printSchema()

# Total Rows of Dataframe 1

df1.count()

# Total Rows of Dataframe 2

df2.count()


# Find duplicate rows in Dataframe 1

duplicate_rows = df1.count() - df1.dropDuplicates().count()
print(duplicate_rows)


# Find duplicate rows in Dataframe 2

duplicate_rows = df2.count() - df2.dropDuplicates().count()
print(duplicate_rows)


# Drop duplicate rows and update the original DataFrame
df2 = df2.dropDuplicates()
df2.count()



# Finding Null values in Dataframe 1

df1.select([count(when(isnan(c),c)).alias(c) for c in df1.columns]).show()



null_counts = df1.agg(*[count(when(col(c).isNull(), c)).alias(c) for c in df1.columns])

# Display the null counts
null_counts.show()

# Finding Null values in Dataframe 2

df2.select([count(when(isnan(c),c)).alias(c) for c in df2.columns]).show()


null_counts = df2.agg(*[count(when(col(c).isNull(), c)).alias(c) for c in df2.columns])

# Display the null counts
null_counts.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default1: string (nullable = true)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- y: string (nullable = true)

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default1: string (nullable = true)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- target: string (nullable = true)

0
17
+---+---+-------+---------+--------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
|age|job|marital|education|default1|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+---+---+-------+---------+--------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
|  0|  0|      0|        0|       0|      0|      0|   0|      0|  0|    0|       0|       0|    0|       0|       0|  0|
+---+---+-------+---------+--------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+

+---+---+-------+---------+--------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
|age|job|marital|education|default1|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+---+---+-------+---------+--------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
|  0|  0|      0|        0|       0|      0|      0|   0|      0|  0|    0|       0|       0|    0|       0|       0|  0|
+---+---+-------+---------+--------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+

+---+---+-------+---------+--------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+------+
|age|job|marital|education|default1|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|target|
+---+---+-------+---------+--------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+------+
|  0|  0|      0|        0|       0|      0|      0|   0|      0|  0|    0|       0|       0|    0|       0|       0|     0|
+---+---+-------+---------+--------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+------+

+---+---+-------+---------+--------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+------+
|age|job|marital|education|default1|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|target|
+---+---+-------+---------+--------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+------+
|  0|  0|      0|        0|      40|      0|      0|  40|      0|  0|    0|       0|       0|    0|       0|      40|     0|
+---+---+-------+---------+--------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+------+

In [9]:
%%spark
# Calculate mode of the column
mode = df2.groupBy('default1').agg(count('*').alias('count')).orderBy(col('count').desc()).select(col('default1')).first()[0]

# Fill null values with mode value
df2 = df2.fillna(mode, subset=['default1'])
# Calculate mode of the column
mode = df2.groupBy('loan').agg(count('*').alias('count')).orderBy(col('count').desc()).select(col('loan')).first()[0]

# Fill null values with mode value
df2 = df2.fillna(mode, subset=['loan'])
# Calculate mode of the column
mode = df2.groupBy('poutcome').agg(count('*').alias('count')).orderBy(col('count').desc()).select(col('poutcome')).first()[0]

# Fill null values with mode value
df2 = df2.fillna(mode, subset=['poutcome'])
null_counts = df2.agg(*[count(when(col(c).isNull(), c)).alias(c) for c in df2.columns])

# Display the null counts
null_counts.show()


df1.printSchema()

df2.printSchema()

# concatenate the two dataframes

df = df1.union(df2)
#Total Records after joining both dataframe

df.count()


df.show(50,truncate=False)
df.count()

df.head(25)

df = df.withColumnRenamed("y", "target")

df.coalesce(1).write.format("com.databricks.spark.csv").option("header", "true").csv(f"s3a://bank/merged_data{today}")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+---+---+-------+---------+--------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+------+
|age|job|marital|education|default1|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|target|
+---+---+-------+---------+--------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+------+
|  0|  0|      0|        0|       0|      0|      0|   0|      0|  0|    0|       0|       0|    0|       0|       0|     0|
+---+---+-------+---------+--------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+------+

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default1: string (nullable = true)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- y: string (nullable = true)

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default1: string (nullable = false)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = false)
 |-- contact: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = false)
 |-- target: string (nullable = true)

+---+-------------+--------+---------+--------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+---+
|age|job          |marital |education|default1|balance|housing|loan|contact  |day|month|duration|campaign|pdays|previous|poutcome|y  |
+---+-------------+--------+---------+--------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+---+
|30 |unemployed   |married |primary  |no      |1787   |no     |no  |cellular |19 |oct  |79      |1       |-1   |0       |unknown |no |
|33 |services     |married |secondary|no      |4789   |yes    |yes |cellular |11 |may  |220     |1       |339  |4       |failure |no |
|35 |management   |single  |tertiary |no      |1350   |yes    |no  |cellular |16 |apr  |185     |1       |330  |1       |failure |no |
|30 |management   |married |tertiary |no      |1476   |yes    |yes |unknown  |3  |jun  |199     |4       |-1   |0       |unknown |no |
|59 |blue-collar  |married |secondary|no      |0      |yes    |no  |unknown  |5  |may  |226     |1       |-1   |0       |unknown |no |
|35 |management   |single  |tertiary |no      |747    |no     |no  |cellular |23 |feb  |141     |2       |176  |3       |failure |no |
|36 |self-employed|married |tertiary |no      |307    |yes    |no  |cellular |14 |may  |341     |1       |330  |2       |other   |no |
|39 |technician   |married |secondary|no      |147    |yes    |no  |cellular |6  |may  |151     |2       |-1   |0       |unknown |no |
|41 |entrepreneur |married |tertiary |no      |221    |yes    |no  |unknown  |14 |may  |57      |2       |-1   |0       |unknown |no |
|43 |services     |married |primary  |no      |-88    |yes    |yes |cellular |17 |apr  |313     |1       |147  |2       |failure |no |
|39 |services     |married |secondary|no      |9374   |yes    |no  |unknown  |20 |may  |273     |1       |-1   |0       |unknown |no |
|43 |admin.       |married |secondary|no      |264    |yes    |no  |cellular |17 |apr  |113     |2       |-1   |0       |unknown |no |
|36 |technician   |married |tertiary |no      |1109   |no     |no  |cellular |13 |aug  |328     |2       |-1   |0       |unknown |no |
|20 |student      |single  |secondary|no      |502    |no     |no  |cellular |30 |apr  |261     |1       |-1   |0       |unknown |yes|
|31 |blue-collar  |married |secondary|no      |360    |yes    |yes |cellular |29 |jan  |89      |1       |241  |1       |failure |no |
|40 |management   |married |tertiary |no      |194    |no     |yes |cellular |29 |aug  |189     |2       |-1   |0       |unknown |no |
|56 |technician   |married |secondary|no      |4073   |no     |no  |cellular |27 |aug  |239     |5       |-1   |0       |unknown |no |
|37 |admin.       |single  |tertiary |no      |2317   |yes    |no  |cellular |20 |apr  |114     |1       |152  |2       |failure |no |
|25 |blue-collar  |single  |primary  |no      |-221   |yes    |no  |unknown  |23 |may  |250     |1       |-1   |0       |unknown |no |
|31 |services     |married |secondary|no      |132    |no     |no  |cellular |7  |jul  |148     |1       |152  |1       |other   |no |
|38 |management   |divorced|unknown  |no      |0      |yes    |no  |cellular |18 |nov  |96      |2       |-1   |0       |unknown |no |
|42 |management   |divorced|tertiary |no      |16     |no     |no  |cellular |19 |nov  |140     |3       |-1   |0       |unknown |no |
|44 |services     |single  |secondary|no      |106    |no     |no  |unknown  |12 |jun  |109     |2       |-1   |0       |unknown |no |
|44 |entrepreneur |married |secondary|no      |93     |no     |no  |cellular |7  |jul  |125     |2       |-1   |0       |unknown |no |
|26 |housemaid    |married |tertiary |no      |543    |no     |no  |cellular |30 |jan  |169     |3       |-1   |0       |unknown |no |
|41 |management   |married |tertiary |no      |5883   |no     |no  |cellular |20 |nov  |182     |2       |-1   |0       |unknown |no |
|55 |blue-collar  |married |primary  |no      |627    |yes    |no  |unknown  |5  |may  |247     |1       |-1   |0       |unknown |no |
|67 |retired      |married |unknown  |no      |696    |no     |no  |telephone|17 |aug  |119     |1       |105  |2       |failure |no |
|56 |self-employed|married |secondary|no      |784    |no     |yes |cellular |30 |jul  |149     |2       |-1   |0       |unknown |no |
|53 |admin.       |married |secondary|no      |105    |no     |yes |cellular |21 |aug  |74      |2       |-1   |0       |unknown |no |
|68 |retired      |divorced|secondary|no      |4189   |no     |no  |telephone|14 |jul  |897     |2       |-1   |0       |unknown |yes|
|31 |technician   |married |secondary|no      |171    |no     |no  |cellular |27 |aug  |81      |3       |-1   |0       |unknown |no |
|59 |management   |married |secondary|no      |42     |no     |no  |cellular |21 |nov  |40      |1       |-1   |0       |unknown |no |
|32 |management   |single  |tertiary |no      |2536   |yes    |no  |cellular |26 |aug  |958     |6       |-1   |0       |unknown |yes|
|49 |technician   |married |tertiary |no      |1235   |no     |no  |cellular |13 |aug  |354     |3       |-1   |0       |unknown |yes|
|42 |admin.       |divorced|secondary|no      |1811   |yes    |no  |unknown  |14 |may  |150     |1       |-1   |0       |unknown |no |
|78 |retired      |divorced|primary  |no      |229    |no     |no  |telephone|22 |oct  |97      |1       |-1   |0       |unknown |yes|
|32 |blue-collar  |married |secondary|no      |2089   |yes    |no  |cellular |14 |nov  |132     |1       |-1   |0       |unknown |yes|
|33 |management   |married |secondary|no      |3935   |yes    |no  |cellular |6  |may  |765     |1       |342  |2       |failure |yes|
|23 |services     |single  |tertiary |no      |363    |yes    |no  |unknown  |30 |may  |16      |18      |-1   |0       |unknown |no |
|38 |management   |single  |tertiary |no      |11971  |yes    |no  |unknown  |17 |nov  |609     |2       |101  |3       |failure |no |
|36 |management   |single  |tertiary |no      |553    |no     |no  |cellular |11 |aug  |106     |2       |-1   |0       |unknown |no |
|52 |blue-collar  |married |secondary|no      |1117   |yes    |no  |cellular |13 |may  |365     |1       |-1   |0       |unknown |no |
|32 |technician   |married |tertiary |no      |396    |yes    |no  |cellular |13 |may  |205     |3       |-1   |0       |unknown |no |
|32 |technician   |single  |tertiary |no      |2204   |yes    |no  |cellular |21 |nov  |11      |4       |-1   |0       |unknown |no |
|34 |management   |single  |tertiary |no      |872    |yes    |no  |unknown  |7  |may  |105     |2       |-1   |0       |unknown |no |
|55 |blue-collar  |married |primary  |no      |145    |no     |no  |telephone|2  |feb  |59      |3       |5    |2       |other   |no |
|26 |blue-collar  |married |primary  |no      |0      |yes    |no  |unknown  |21 |may  |425     |1       |-1   |0       |unknown |no |
|32 |entrepreneur |single  |primary  |yes     |-849   |yes    |yes |cellular |4  |feb  |204     |1       |-1   |0       |unknown |no |
|61 |admin.       |married |unknown  |no      |4629   |yes    |no  |cellular |27 |jan  |181     |1       |92   |1       |success |yes|
+---+-------------+--------+---------+--------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+---+
only showing top 50 rows